# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#
# Backend
#

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

volumes_postgres/
api/test_uploaded_files
api/uploaded_files

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# django staticfiles
/static

# mypy
.mypy_cache/

# Terraform
infrastructure/*.tfstate*
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/PLAN
.circleci/s3_tfstate/.terraform

# MacOS
.DS_Store

# VSCode
.vscode
*.code-workspace

# SSH keys
*.pem
*.pub

# 1Password integration
.op/

#
# Client
#

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# local env files
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# vercel
client/.vercel
api/test_data/

# storybook
client/storybook/node_modules
client/storybook/.yarn/cache

# Local Data for Backend development
api/data
api/test_data*
!api/test_data/readmes

# API Exmples artifacts
api-examples/.token
