---
exclude: '^.*\.svg$'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: ^(api/scpca_portal/templates/emails/*)
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: trailing-whitespace
        exclude: ^(api/test_data/readmes/|client/\.yarn/.*)
        args:
          - --markdown-linebreak-ext=md
      # - id: check-executables-have-shebangs
      - id: check-merge-conflict
      # - id: check-docstring-first # We can enable this rule once models.py is simplified
      - id: check-yaml
      - id: flake8
        exclude: ^api-examples/
        additional_dependencies:
          - flake8-print

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        exclude: ^api/scpca_portal/wsgi.py$

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3
