networks:
  default:
    name: scpca_portal

services:
  postgres:
    image: postgres:17.7
    volumes:
      - ./api/volumes_postgres/volumes_postgres:/var/lib/postgresql/data
    environment:
     - POSTGRES_HOST_AUTH_METHOD=trust
  api:
    container_name: '${API_NAME}'
    network_mode: '${API_NETWORK}'
    restart: always
    env_file: infrastructure/api-configuration/dev-secrets
    image: api
    build:
      context: ./api
      dockerfile: Dockerfile.local
      args:
        PORT: '${API_PORT}'
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN
      - AWS_DEFAULT_REGION=us-east-1
      - DEV_HOST=http://localhost:${API_PORT}
      - LOG_RUNTIMES
    command: >
      bash -c 'python wait_for_postgres.py &&
               ./manage.py migrate &&
               ./manage.py runserver 0.0.0.0:${API_PORT}'
    volumes:
      - ./api:/home/user/code
    depends_on:
      - client
      - postgres
  client:
    image: node:18.17.1
    ports:
      - '${API_PORT}:${API_PORT}'
      - '${STORYBOOK_PORT}:${STORYBOOK_PORT}'
      - '${CLIENT_PORT}:${CLIENT_PORT}'
    environment:
      - STAGE_API_HOST=http://localhost:${API_PORT}
      - STAGE_SENTRY_DSN
      - STAGE_HUBSPOT_PORTAL_ID
      - STAGE_HUBSPOT_EMAIL_LIST_ID
      - STAGE_HUBSPOT_SURVEY_LIST_ID
      - STAGE_CELLBROWSER_SECRET
      - STAGE_CELLBROWSER_STATIC_HOST
    env_file: docker-compose.env
    command: >
      bash -c 'cd /home/user/code &&
               yarn set version 3.6.3 &&
               yarn &&
               (yarn storybook --quiet -p ${STORYBOOK_PORT} &
               yarn dev -p ${CLIENT_PORT})'
    volumes:
      - ./client:/home/user/code
      - ./client/node_modules:/home/user/code/node_modules
      - ./client/.next:/home/user/code/.next
