networks:
  default:
    name: scpca_portal

services:
  postgres:
    image: postgres:11.6
    volumes:
      - ./api/volumes_postgres/volumes_postgres:/var/lib/postgresql/data
  api:
    container_name: '${API_NAME}'
    network_mode: '${API_NETWORK}'
    restart: always
    env_file: infrastructure/api-configuration/dev-secrets
    image: api
    build:
      context: ./api
      dockerfile: Dockerfile.local
      args:
        PORT: '${API_PORT}'
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN
      - AWS_DEFAULT_REGION=us-east-1
      - DEV_HOST=http://localhost:${API_PORT}
      - LOG_RUNTIMES
    command: >
      bash -c 'python wait_for_postgres.py &&
               ./manage.py migrate &&
               ./manage.py runserver 0.0.0.0:${API_PORT}'
    volumes:
      - ./api:/home/user/code
    depends_on:
      - client
      - postgres
  client:
    image: node:22.22.0
    ports:
      - '${CLIENT_PORT}:${CLIENT_PORT}'
    environment:
      - STAGE_API_HOST=http://localhost:${API_PORT}
      - STAGE_SENTRY_DSN=${SENTRY_DSN}
      - STAGE_HUBSPOT_PORTAL_ID=${HUBSPOT_PORTAL_ID}
      - STAGE_HUBSPOT_EMAIL_LIST_ID=${HUBSPOT_EMAIL_LIST_ID}
      - STAGE_HUBSPOT_SURVEY_LIST_ID=${HUBSPOT_SURVEY_LIST_ID}
      - STAGE_CELLBROWSER_SECRET=${CELLBROWSER_SECRET}
      - STAGE_CELLBROWSER_STATIC_HOST=${CELLBROWSER_STATIC_HOST}
    env_file: docker-compose.env
    command: >
      bash -c 'set -e
              cd /home/user/code
              cleanup() { rm -f "$CLIENT_DEPS_LOCKFILE"; }
              trap cleanup EXIT
              touch "$CLIENT_DEPS_LOCKFILE"
              yarn
              cleanup
              trap - EXIT
              yarn dev -p ${CLIENT_PORT}'
    volumes:
      - ./client:/home/user/code
      - ./client/node_modules:/home/user/code/node_modules
      - ./client/.next:/home/user/code/.next
  storybook:
    image: node:22.22.0
    ports:
      - '${STORYBOOK_PORT}:${STORYBOOK_PORT}'
    env_file: docker-compose.env
    environment:
      - API_HOST=https://api.staging.scpca.alexslemonade.org
      - API_VERSION=v1
    command: >
      bash -c 'cd /home/user/code/ &&
              chmod +x ./wait_for_client.sh &&
              ./wait_for_client.sh &&
              yarn set version 4.12.0 &&
              yarn workspace scpca-portal-storybook storybook:update-data &&
              yarn workspace scpca-portal-storybook storybook --quiet --no-open -p ${STORYBOOK_PORT}'
    volumes:
      - ./client:/home/user/code
      - ./client/storybook:/home/user/code/storybook
      - ./client/node_modules:/home/user/code/node_modules
    depends_on:
      - client
