name: actions

on: push

jobs:
  # https://github.com/pre-commit/action
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - uses: pre-commit/action@v3.0.1

  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14.17

      # ESLint and Prettier must be in `package.json`
      - name: Install Node.js dependencies
        run: cd client && yarn install --frozen-lockfile

      - name: Run linters
        uses: wearerequired/lint-action@v1
        with:
          github_token: ${{ secrets.github_token }}
          eslint: true
          eslint_dir: client/
          prettier: false
          prettier_dir: client/

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Touch .aws
        run: mkdir -p ~/.aws && touch ~/.aws/config
      - name: Set perms
        run: chmod -R a+rw api ~/.aws
      - name: Build the stack
        run: docker compose --env-file ./docker-compose.env build
      - name: Test
        run: ./bin/sportal api:test
